.company-platfom{
    width: 1300px;
    height: 610px;
    margin: 20px auto;
    display: flex;
}
.dashboard-1{
    margin: 5px 5px 10px 5px;
    width: 300px !important;
    height: 600px !important;
    background-color: lightblue !important;
}
.dashboard-2{
    margin: 5px 5px 10px 5px;
    width: 1000px !important;
    height: 600px !important;
    background-color: lightgreen !important;
}
.dash-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.allStdInfo{
    display: flex;
    flex-direction: row;


}
.allStdImg{
    margin: 0px 20px 5px 10px !important;
}
.card-std{
    margin-bottom: 10px;
    height: 70px;
}
.modal{
    margin: 80px auto;

    width: 400px !important;
    height: 400px !important;
}
.imgPreview{
    
    margin-top: 20px;
}
.paperCreateJob{
    margin: 50px auto;
    width: 600px;
}