.admin{
    width: 600px;
    height: 500px;
}
.paper-admin{
    width: 98%;
    height: 95%;
    margin: 25px auto;
display: flex;
}
.admin-dash1{
    width: 20%;
height: 600px;
background-color: lightblue !important;
}
.admin-dash2{
    width: 89%;
    margin-left:1% ;
    background-color: lightgreen !important;
}